/* Scroll */

.content::-webkit-scrollbar-thumb {
	background-color: #434343;
	border-radius: 10px;
}

.content::-webkit-scrollbar-track {
	background: transparent;
}

.content::-webkit-scrollbar {
	border-radius: 15px;
	width: 7px;
}